Django==4.2.7
Pillow==10.1.0
django-crispy-forms==2.1
crispy-bootstrap4==2022.1
python-decouple==3.8
PyMySQL==1.1.0
whitenoise==6.6.0
gunicorn==21.2.0
dj-database-url==2.1.0
requests==2.31.0
reportlab==4.0.7
weasyprint==60.2
django-select2==8.1.2
jsreport-python-client==3.0.0