{% extends 'dev_template/base.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">

				<div class="col-xl-6 col-12">
					<div class="box overflow-h">
						<div class="box-header">
							<h3 class="box-title">Gain de ce mois</h3>
						</div>
						<div class="box-body pb-0 ">
							<h4 class="text-dark">$6,586.40
								<small class="text-success">25%
									<span class="badge badge-pill badge-success-light"><i
											class="fa fa-angle-up text-success"></i></span></small>
							</h4>
							<div id="statisticschart5" class="box-body px-2 col-12"></div>
						</div>
					</div>

				</div>
				<div class="col-xl-6 col-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Statistique de revenue</h3>
						</div>
						<div class="box-body py-0">
							<div id="charts_widget_43_chart"></div>
						</div>
					</div>
				</div>


				<div class="col-xl-10 col-12">
					<div class="box">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Créer un nouveau Cabinet et son Administrateur</h3>
						</div>
						<div class="box-body">
							<form method="post" action="{%url 'Creation_du_Cabinet'%}">
								{% csrf_token %}
								
								{% if messages %}
								{% for message in messages %}
								<div class="alert alert-{{ message.tags }}">{{ message }}</div>
								{% endfor %}
								{% endif %}

								<h4 class="mb-15 mt-10 text-primary"><i class="ti-briefcase"></i>
									Informations du Cabinet</h4>
								<div class="form-group">
									<label>Nom du cabinet</label>
									<input type="text" name="nom" class="form-control"
										placeholder="Ex: Cabinet Mwamba & Associés" required>
								</div>
								<div class="form-group">
									<label>Numéro d'identification</label>
									<input type="text" name="numero_identification" class="form-control"
										placeholder="Ex: CAB-00123" required>
								</div>

								<div class="form-group">
									<label>Téléphone</label>
									<input type="text" name="telephone" class="form-control"
										placeholder="+243 000 000 000">
								</div>
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="email" class="form-control"
										placeholder="watterdame@gmail.com">
								</div>

								<hr class="my-30">

								<h4 class="mb-15 text-primary"><i class="ti-user"></i> Compte
									Administrateur</h4>
								<div class="form-group">
									<label>Nom d'utilisateur</label>
									<input type="text" name="username" class="form-control"
										placeholder="Nom d'utilisateur" required>
								</div>
								<div class="form-group">
									<label>Mot de passe</label>
									<input type="password" name="password" class="form-control"
										placeholder="Mot de passe" required>
								</div>


								<div class="text-center mt-30">
									<button type="submit" class="btn btn-success btn-lg">Enregistrer le
										cabinet</button>
								</div>
							</form>
						</div>
					</div>
				</div>



			</div>
		</section>
		<!-- /.content -->
	</div>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
	<!--<div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="https://themeforest.net/item/lawfirm-responsive-bootstrap-admin-template/32736939">Purchase Now</a>
		  </li>
		</ul>
    </div>-->
	&copy;
	<script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Yeta Jean
		Programming. </a>Tout droit reservés.
</footer>
{%endblock%}